@charset "UTF-8";
/* Body */
body {
	font-family: Microsoft YaHei Light, Microsoft YaHei UI Light, source-sans-pro;
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}
/* Container */
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
	background-color: #FFFFFF;
}
/* Logo picture */
.logo_picure{
	margin-left: 20px;
	margin-top:20px;
}
/* Navigation */
.top{
	padding-left: 20px;
	padding-top: 15px;
}
header {
	width: 100%;
	height: 5%;
	background-color: #000000;
}
.logo {
	color: #CD6C00;
	font-weight: bold;
	width: 40%;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	letter-spacing: 4px;
}
nav {
	float: right;
	width: 30%;
	text-align: right;
	margin-right: 25px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #CD6C00;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #CD6C00;
	text-decoration: none;
}
ul li:hover a {
	color: #ffffff;
	font-style: italic;
}
.hero_header {
	color: #CD6C00;
	text-align: center;
	margin-top: 10px;
	margin-right: 50px;
	margin-bottom: 5px;
	margin-left: 50px;
	letter-spacing: 4px;
}
/* Hero Section */
.hero {
	text-align: center;
	font-size: 30px;
	background-color: #B3B3B3;
	background-image: url(../images/24acf3563c7b2d02a3979be3a14859cb.jpeg);
	background-attachment: fixed;
	width:100%;
	height:460px;
	padding-top: 30px;
	padding-bottom: 25px;
	padding-left: 0px;

}
.light {
	font-weight: bold;
	color: #474747;
}
.tagline {
	text-align: center;
	color: #707070;
	margin-top: 0px;
	font-size: 16px;
	font-weight: lighter;
	font-style: italic;
	letter-spacing: 4px;
}
/* About Section */
.text_column {
	width: 29%;
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
}
.about {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 35px;
	display: inline-block;
	background-color: #000000;
	margin-top: 0px;
}
/* Stats Gallery */
.stats a{
	color: #CD6C00;
	text-decoration: none;
	margin-bottom: 5px;
}
.stats a:hover {
	color: #ffffff;
	font-weight: bold;
}
.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	height:200px;
	background-color: #000000;
	/* [disabled]min-width: 400px;
*/
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: -5px;
}
.thumbnail {
	width: 25%;
	text-align: center;
	float: left;
	margin-top: 35px;
}
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #52BAD5;
}
.gallery .thumbnail p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #A3A3A3;
}
/* Parallax Section */

.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
	margin-top: -5px;
	  max-width: 2000px;
	  position: relative;
	  margin: auto;
}

/* Caption text */
.text {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  bottom: 28px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 10px;
  position: absolute;
}

/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.5}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.5}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.banner {
	text-align: center;
	background-color: #2D9AB7;
	background-image: url(../images/banner_4x4.jpg);
	background-attachment: fixed;
	margin-top: -33px;
	width:100%;
	height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
}
.parallax {
	color: #FFFFFF;
	font-size: 30px;
	text-align: left;
	font-style: italic;
	padding-left: 100px;
	padding-top: 100px;
	letter-spacing: 2px;
	margin-top: -5px;
}
.propoganda {
	color: #FFFFFF;
	float: left;
	text-align: left;
	padding-left: 100px;
	font-weight: lighter;
	line-height: 28px;
}
/* More info */
footer {
	background-color: #D05105;
	height: 650px;
	padding-bottom: 35px;
}
.footer_column {
	width: 50%;
	height:100%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
footer .footer_column h3 {
	font-size:30px;
	color: #B3B3B3;
	text-align: center;
}
footer .footer_column p {
	color: #ffffff;
	background-color: #D05105;
}
.cards {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 400px;
}
footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}
.footer_header {
	color: #ffffff;
	font-weight:bold;
	text-align: center;
	margin-top: 90px;
	margin-right: 50px;
	margin-bottom: 20px;
	margin-left: 50px;
	letter-spacing: 4px;
}
.button {
	width: 200px;
	margin-top: 200px;
	margin-right: auto;
	margin-bottom: 71px;;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #FEFEFE;
	color: #C4C4C4;
	cursor: pointer;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: auto;
	background-color: #717070;
	opacity: 0.6;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	}
.footer_banner {
	background-image: url(../images/bottom.jpg);
	background-attachment: fixed;
	background-size:100%;
	text-align: center;
	height: 0 auto;
	margin-top: -5px;
	padding-top: 60px;
	padding-bottom: 60PX;
	margin-bottom: 0px;
	background-repeat: no-repeat;
	
}
footer {
	display: inline-block;
}
.customize {
	color: #ffffff;
	font-weight: bold;
	font-size: 40px;
	letter-spacing: 3px;
}

/* Mobile */
@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	display: none;
}
header nav ul {
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 90%;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	float: none;
	text-align: center;
}
.banner {
	background-color: #2D9AB7;
	background-image: none;
}
.tagline {
	margin-top: 20px;
	line-height: 22px;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #043745;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	overflow: auto;
	display: inline-block;
	background: #52bad5;
}
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 30%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: none;
	width: 100%;
	text-align: center;
}
.thumbnail {
	width: 50%;
}
.parallax {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 20%;
}
.parallax_description {
	float: inherit;
	margin-top: 100px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	padding-top: 30px;
}
.banner {
	padding-left: 20px;
	padding-right: 20px;
}
.footer_column {
	width: 100%;
}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 50%;
}
.text_column {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.banner {
	margin-top: 0px;
	padding-top: 0px;
}
}
